/* Базовые стили */
:root {
    --dark-gray: #1c1c1c;
    --green: #4caf50;
    --beige: #f5f5dc;
    --white: #ffffff;
}

ul{
    list-style: none;
}
li{
    margin: 0 20px;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--dark-gray);
    color: var(--beige);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Хедер */
.hero {
    height: 100vh;
    background: linear-gradient(120deg, var(--dark-gray), var(--green));
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-hero{
   width: 90%;
}


.hero-title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-btn {
    text-decoration: none;
    color: var(--dark-gray);
    background-color: var(--beige);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-btn:hover {
    background-color: var(--green);
}

/* О разделе */
.about, .portfolio, .contact {
    padding: 50px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--green);
}

.about p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--beige);
}

/* Портфолио */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio-item {
    background: var(--beige);
    color: var(--dark-gray);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Контакты */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea, form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--beige);
    color: var(--dark-gray);
}

/* Футер */
.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--dark-gray);
    color: var(--beige);
    font-size: 0.9rem;
}

/* Анимации */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
